* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #171717;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat; 
  
    min-height: 100vh; // has to be min 100vh but can stretch if needed
}

.loader {
    margin: 24vh auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader svg {
    height: 2.2rem;
    width: 2.2rem;
    fill: #171717;
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear;
  }

  .loader .loading {
    color: #171717;
    font-size: 2.4rem;
    font-weight: 400;
    margin-left: 0.6rem;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

