.search {
    width: 100%;
    padding: 0 1.6rem 1.6rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: #999999;
        background-color: #fff;
        font-size: 1.6rem;
        padding: 12px 0 12px 8px;
        border-radius: 8px 0 0 8px;
    }

    input[type=text] {
        color: #999999;
        font-weight: normal;
        padding-left: 4px;
    }

    &__field {
        font-size: 1.6rem;
        font-weight: 300;
        background-color: #fff;
        border: none;
        border-radius: 0px 8px 8px 0;
        width: 100%;
        height: 4rem;

        &:focus {
            outline: none;
            width: 100%; // when the input in focus, the width will increase to 100% of its parent element
        }

        &::-webkit-input-placeholder {
            font-weight: 300;
            font-size: 1.6rem;
            color: #999999;
        }
    }
}

.pokedex  {
    width: 100%;
    overflow: scroll;
    
    a {
        text-decoration: none;
        color: #252525;

        &:hover {
            text-decoration: none;
        }
    }
}

.search-results  {
    width: 100%;
    overflow: scroll;
    
    a {
        text-decoration: none;
        color: #252525;

        &:hover {
            text-decoration: none;

        }
    }
}

.pokedex-item {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: min-content 1fr;
    border-bottom: 1.2px solid #f8f7f7;
    padding: 1.6rem 3.2rem;
    grid-gap: 2rem;
    align-items: center;
    height: auto;
    transition: all .1s;

    &:hover {
        background-color: #f8f8f8;
        color: #000;
    }


    .pokedex-item__img {
        border-radius: 8px;
        width: 6.4rem;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}

.pokedex-info {

    &__id {
        color: #dad8d7;
        font-size: 16px;
    }

    &__name {
        font-size: 16px;
        font-weight: 600;
    }
}


.pokemon {

    .pokemon-nav {
        padding: 2rem 2rem;
        background-color: #e55755;
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;

        span {
            font-size: 1.6rem;
            text-transform: uppercase;
        }

        button {
            border: none;
            background: none;
            outline: none;
        }

        i {
            font-size: 2rem;
        }
    }



    &__heading {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 1rem;
    }

  &__img {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    padding: 5.4rem 0rem 0 0rem;
    background-color: #f8f7f7;

        @media only screen and (max-width: 450px) {
            padding: 2.4rem 0rem 0rem 0rem;
        }

    img {
        width: 28rem;
        height: auto;
        display: block;
        object-fit: cover;

        @media only screen and (max-width: 450px) {
            width: 20rem;
        }
    }

    button {
        border: none;
        background: none;
        outline: none;
        background: transparent;
        width: 100%;
        height: 100%;
    }

    i {
        color: #e55755;
        font-size: 2rem;
    }

  }

  &-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #f8f7f7;


    @media only screen and (max-width: 450px) {
         text-align: center;
         padding: 2rem;
    }

    &__id {
        font-size: 3rem;
        color: #000;
        opacity: 0.2;
        margin: 0;
        font-weight: 600;
    }

    &__name {
        font-size: 5.2rem;
        font-weight: 600;

        @media only screen and (max-width: 450px) {
         font-size: 4rem;
        }
    }

    &__type {
        text-transform: capitalize;
        color: #fff;
        border-radius: 100px;
        padding: 0.8rem 4rem;
        font-weight: 600;
        font-size: 1.8rem;


        @media only screen and (max-width: 450px) {
         font-size: 2rem;
         padding: 0.4rem 3rem;

        }
    }

  }

  &-description {
      padding: 4rem 4rem;
      border-radius: 8px;
      text-align: center;
      background-color: #f8f7f7;


      &__entry {
          font-size: 1.8rem;
          font-weight: 300;
      }
  }

    .pokemon-about {
        font-size: 1.8rem;
        padding: 4rem ;
        text-align: center;

        .pokemon-about__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
            align-items: center;
            justify-content: center;

            span {
                margin-left: 4px;
            }
            

            .pokemon-about__label {
                color: #171717;
                font-weight: 600;
                text-align: right;
            }

            .pokemon-about__data {
                color: #171717;
                text-transform: capitalize;
                font-weight: 300;
                text-align: left;
            }
        }
    }

    .stats-info {
        padding: 4rem 4rem;
        border-radius: 8px;
        text-align: center;


        .stats-info__container {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-column-gap: 2rem;
        }

        &__stat {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-column-gap: 2rem;
            
            .progress {
                height: 4px;
                margin-top: 8px;
                align-items: center;
                background-color: #dad8d7;
                box-shadow: none;

                .progress-bar {
                    background-color: #e55755;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }

        &__label {
            color: #171717;
            font-weight: 300;
            font-size: 1.6rem;
        }

        &__data {
            color: #171717;
            font-weight: 600;
            font-size: 1.6rem;
        }

    }
}

.favourites-container {
    flex-wrap: wrap;
    display: none;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &:active {
            color: inherit;
            text-decoration: none;
        }
    }

    .favourites-container__likes {
        color: #000;
        font-weight: 600;

        &:hover {
            color: #000;
        }


        @media only screen and (max-width: 450px) {
        }

        .favourites-div {
            height: 32rem;
            width: 20rem;
            border-radius: 20px;
            // box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
            margin: 1.6rem;
            padding: 4rem;
            text-align: center;

            @media only screen and (max-width: 450px) {
                height: 24rem;
                width: 16rem;
                margin: 1.2rem;
                padding: 1.6rem;
            }
        }

        

        img {
            width: 12rem;

            @media only screen and (max-width: 450px) {
                width: 10rem;
            }
        }

        .favourites-container-info {
            margin-top: 2rem;

            @media only screen and (max-width: 450px) {
                font-size: 1.6rem;
                margin-top: 1rem;
            }
            
            .favourite-title__id {
                text-transform: capitalize;
                padding: 0px 0;
                color: rgba(0,0,0,0.1);
                font-size: 1.6rem;
                margin: 0;
            }

            .favourite-title__name {
                font-size: 2.4rem;
                font-weight: 500;
                text-transform: capitalize;


                @media only screen and (max-width: 450px) {
                    font-size: 1.6rem;
                }
            }

            .favourite-title__type {
                text-transform: capitalize;
                font-weight: 500;
                border-radius: 100px;
                padding: 6px 0;
                color: #fff;

                @media only screen and (max-width: 450px) {
                    font-size: 1.2rem;
                }


            }
        }
    }
}