.main-container {
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    

    @media only screen and (max-width: 450px) {
        width: 100%;
    }
}


.leftside {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        background-color: #e55755;
        width: 100%;
        border-bottom: 1px solid #f8f8f8;
        position: sticky;
        top: 0;
        z-index: 1;
        
        button {
            font-size: 16px;
            font-weight: bold;
            padding: 2rem 0rem 1.2rem 2rem;
            color: #fff;
            background-color: transparent;
            border: none;
            outline:none;
            font-weight: 500;
            letter-spacing: 1.2px;

            &:hover {
                opacity: 0.8;
            }

            &:active {
            }
        }
    }
}

.results {
    height: auto;
    background-color: #fff;
}